@import "./custom_colors";

.notes {
    height: calc(100% - 70px);
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}
.bm-menu {
    background-color: white;
    padding-top: 10px;
}
.list-item {
    display: block;
    padding: 10px;
    background-color:  $custom-grey-light;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    margin: 5px;
}
.is-active {
    background-color: $custom-grey;
}
